@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 40s linear infinite;
}

.bgImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.bgBannerImage {
  background-image: url("./assets/website/coffee-texture.jpg");
  background-color: #270c03;
}
.bgStoreImage {
  background-image: url("./assets/website/coffee-beans-bg.png");
}

.bgFooterImage {
  background-image: url("./assets/website/coffee-footer.jpg");
  min-height: 400px;
}

::-webkit-scrollbar {
  width: 0px;
}
